body {
	background:#969191;
	color:#fff;
	font-family: 'Montserrat', sans-serif;
	padding: 0;
	margin: 0;
}
div, p, a, img, form, botton {
 box-sizing: border-box;
} 

a {
	text-decoration: none;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
.header {

}
.container {
	width: 9000px;
	margin:0 auto;

}
.nav {
	display: flex;
	background:#2b2b2b;
	color:#fff;
}
.menu {
	display: flex;
	margin-left: 200px;
	align-items: center;
}
.menu li {
	font-size: 25px;
	margin-right: 50px; 
}
.menu li a {
	color:#fff;
	padding: 12px 0;

}
.menu li.active a {
    color:#ff0000;
    border-top: 2px solid #ff0000;
    border-bottom: 2px solid #ff0000; 
}
.logo {
	margin-left: 190px;

}
.lesson1 {
	margin-top: 50px;
	margin-left: 320px;
}
.lesson2 {
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 200px;
	marker-bottom: 50px; 

}
.soc {
	display: flex;
	background:#2b2b2b;
	color:#fff;
}

.ins li {
display: flex;
}
